.left-sidebar {
  width: 180px;
  position: relative;
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  background-color: #333;
  color: #fff;
  min-height: 1000px;
  width: 130px;
}

.left-sidebar ul {
  list-style: none;
}

.left-sidebar ul li a {
  display: block;
  padding: 8px 0px;
  text-decoration: none;
  color: #fff;
}

.left-sidebar ul li a:hover {
  background-color: #444;
}

.main-content {
  position: relative;
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  background-color: #ddd; 
  color: #000; 
}
